<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your purchase was received</title>
</head>

<body>
    <h2>Cakes & Basesssss</h2>

    <div>Order number: <%= id%>
    </div>
    <br />
    <div>Dear <%= firstName%>, </div>
    <div>We are notified that your purchase was received.</div>
    <div>We hope you enjoy it!</div>
    </br>
    </br>
    <div>If you please, you can leave a review on our page, so that other clients know about your experience.</div>
    </br>
    <div>Thank you for shopping at Cakes & Bases!</div>
</body>

</html>