<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your purchase was shipped</title>
</head>
<body>
    <h2>Cakes & Basesssss</h2>

    <div>Order number: <%= id%></div>
    <br/>
    <div>Dear <%= firstName%>, we have good news, your purchase was shipped.</div>
    <div>It is being sent via <%= shipmentCompany%></div>
    <div>The order tracking code is: <%= shipmentTracking%>.</div>
    <div>Thank you for shopping at Cakes & Bases!</div>
</body>
</html>