<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Status</title>
</head>
<body>
    
    <h2>Purchase Status</h2>
    <p>Hi, <%= purchaseMail[0].User.name %>, your purchase status is:</p>
    <table>
        <tr>
            <th>Product Type</th>
            <th>Price</th>
            <th>Status</th>

        </tr>
        <tr>
            <td><%= purchaseMail[0].Stocks[0].ProductTypeName %></td>
            <td><%= purchaseMail[0].Stocks[0].price %></td>
            <td><%= purchaseMail[0].status %></td>
        </tr>


    </table>
    
    
</body>
</html>